* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  width: 1280px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.theme {
  display: flex;
  flex-direction: column;
}

.LIGHT-theme {
  background: #fff;
}

.DARK-theme {
  background: #dddddd;
}

.logo {
  margin-bottom: 40px;
}

.title-logo {
  font-weight: 400;
  font-size: 80px;
  line-height: 93.75px;
  color: #000000;

}

.title-logo-2 {
  color: #4BCAFF;
}

.navbar {
  margin-bottom: 49px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  justify-content: center;
  padding: 0 130px 0 160px;
  list-style-type: none;
  height: 69px;

  background: #35444F;
}

.nav-link {
  display: block;
  color: #FFFFFF;
  padding: 1rem 2rem;
}

.navbar-menu li:first-child {
  border-left: 1px solid #fff;
}

.navbar-menu-link {
  display: flex;
  border-right: 1px solid #fff;
  height: 69px;
}

.nav-main {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
}

.container-main {
  display: flex;
}

.aside {
  width: 342px;
  height: 399px;
  border: 1px solid black;
}

.aside-menu-list {
  display: flex;
  align-items: center;
  padding-left: 44px;
  width: 298px;
  height: 79.8px;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  cursor: pointer;
}

.aside-menu-list:hover,
.aside-menu-list:focus {
  width: 269px;
  padding-left: 73px;
  background-color: #DBDBDB;
  color: black;
}

.main-link {
  color: #495863;
}

.main-content {
  width: 885px;
  margin-left: 52px;
}

.main-content-img {
  background-image: url(../image/img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 381px;
  width: 883px;
  height: 529px;
  border: 0.5px solid black;
}

.main-text-box1 {
  width: 885px;
  height: 120px;
  margin-top: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
}

.main-text-box2 {
  width: 885px;
  height: 109px;
  margin-top: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 59px;
  margin-bottom: 30px;
  width: 100%;
  height: 69px;
  background-color: rgba(99, 105, 110, 0.48);
}

.nav-footer {
  display: flex;
  align-items: center;
  height: 53px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 875px;
}

.footer-menu-list {
  display: flex;
  align-items: center;
  height: 53px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  user-select: none;
}

.footer-menu-list:hover,
.footer-menu-list:focus {
  color: #3181A6;
  border-bottom: 1px solid #3181A6;
  transition: all 0.2s ease;
}


.footer-text {
  margin-left: 135px;
  width: 190px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}